<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email/SMS Spam Classifier</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Email/SMS Spam Classifier</h1>
        <div class="input-box">
            <form id="predict-form">
                <textarea id="input_sms" name="input_sms" placeholder="Enter the message" rows="10" required></textarea><br><br>
                <button type="submit" id="predict-button">Predict</button>
            </form>
        </div>
        <div class="result-box" id="result-box">
            <!-- Prediction result will be displayed here -->
        </div>
    </div>
    
    <script>
        document.getElementById('predict-form').addEventListener('submit', function(event) {
            event.preventDefault(); // Prevent form from submitting normally

            const input_sms = document.getElementById('input_sms').value;

            fetch('/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ input_sms: input_sms }),
            })
            .then(response => response.json())
            .then(data => {
                const resultBox = document.getElementById('result-box');
                resultBox.innerHTML = `<h2>${data.Prediction}</h2>`;
                resultBox.style.display = 'block';

                if (data.Prediction === 'The Message is Spam !!!!!!!') {
                    resultBox.style.backgroundColor = '#f8d7da'; // Light red background for spam
                    resultBox.style.color = '#721c24'; // Dark red text color for spam
                } else {
                    resultBox.style.backgroundColor = '#d4edda'; // Light green background for not spam
                    resultBox.style.color = '#155724'; // Dark green text color for not spam
                }

                const predictButton = document.getElementById('predict-button');
                predictButton.textContent = 'Enter New Message';
                predictButton.onclick = function() {
                    // Reset form and button
                    document.getElementById('input_sms').value = '';
                    resultBox.style.display = 'none';
                    predictButton.textContent = 'Predict';
                    predictButton.onclick = null;
                };
            })
            .catch(error => console.error('Error:', error));
        });

        document.getElementById('input_sms').addEventListener('input', function() {
            this.style.height = 'auto';
            this.style.height = (this.scrollHeight) + 'px';
        });
    </script>
</body>
</html>
